.nav {
    margin: 4px 0 8px 0;
    background-color: steelblue;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid gray;
    padding: 8px 0 8px 0;
}

.nav li {
    display: inline-block;
}

a {
    padding: 10px 8px 10px 8px;
    color: white;
    text-decoration: none;
}

.active {
    background-color: #436289;
}

a:hover {
    background-color: #436289;
}


.nav-icon {
    height: 20px;
    width: auto;
    padding: 0 8px 0 8px;
}